* {
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

img {
 max-width: 100%;

 
}

#wrapper {
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgba(180, 149, 111,0.7);
}
.container {
  display: flex;
}

.profile-picture {
  border-radius: 50%;
  width: 120px;
  border: solid 1 px rgb(29, 32, 34);
  position: absolute;
  top: 200px;
  left: 50px;
}

.header {
  color: aliceblue;
  width: 100%;
  position: relative;

  display: flex;
  background-color: rgb(29, 32, 34);
  justify-content: space-between;
  align-items: center;
}

.nav-ul {
  list-style: none;
  gap: 40px;
  margin-right: 40px;
  flex-wrap: wrap;
}

.hero-banner {
  background-image: url(../images/02-hero-bg.jpg);
  display: 100%;
  min-height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: right;
}
.hero-banner div{
  width: 100%;
  justify-content: flex-start;
  margin-top: 200px;
}
.hero-banner h2{ color: white;
 background-color: black;}

.title {
  padding: 0.5rem;
}

.page-section {
  padding: 1rem;
  border: 1px black solid;
}

#item1 {
  background-image: url(../images/02-portfolio-1.jpg);
  grid-area: item1;
  flex-direction: column;
  justify-content: flex-end;
  /* position: relative; */

}
#item2 {
  background-image: url(../images/02-portfolio-2.jpg);
  grid-area: item2;
  flex-direction: column;
  justify-content: flex-end;
  /* position: relative; */
}
#item3 {
  background-image: url(../images/02-portfolio-3.jpg);
  grid-area: item3;
  flex-direction: column;
  justify-content: flex-end;
  /* position: relative; */
}
#item4 {
  background-image: url(../images/02-portfolio-4.jpg);
  grid-area: item4;
  flex-direction: column;
  justify-content: flex-end;
  /* position: relative; */
}
#item5 {
  background-image: url(../images/book-store.png);
  grid-area: item5;
  flex-direction: column;
  justify-content: flex-end;
  /* position: relative; */
}
#item6 {
  background-image: url(../images/desktop\ niproject2_.png);
  grid-area: item6;
  flex-direction: column;
  justify-content: flex-end;
  /* position: relative; */
}

.item-first {
  min-height: 400px;
  position: relative;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.item {
  border-radius: 7px;
  min-height: 150px;
  margin: 1rem 0;
}
.item:hover , .item-first:hover{
  box-shadow: inset;
  opacity: 0.8;
  cursor: pointer;;
}

#work {
  margin: 0 auto;
  display: grid;
  gap: 15px;
  grid:
    " section-name item1 item1 item1 item1 item1 item1 item1 item1 "
    " . item2 item2 item2 item2 item3 item3  item3 item3 "
    " . item4 item4 item4 item4 item5 item5  item5 item5 "
    " . item6 item6 item6 item6 . . . .";
}

.section-name {
  grid-area: section-name;
}
.item-title {
  background-color: rgba(29,32,34, 0.8);
  position: relative;
  top: -10%;
  /* display: inline-block;  */
  max-height:fit-content; 
  padding: 1rem 0.4rem 0 0;
  border-radius: 8px;
  margin:0 1rem ;
 
 
}

#about{
  padding: 2rem 0.5rem;
  margin-top: 4rem;
  ;
  
}
.section-name{
  border-right: 4px solid black;
  margin: 2rem 1rem;
  min-width: 150px;
}
p{
  padding: 0.5rem;
}

#contact ul{
  padding: 0.5rem;
  display: flex;
  list-style: none;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
}
 a{
  /* display: block; */
  /* padding: 0.2rem; */
  color: azure;
  text-decoration: none;
  opacity: 0.8;
} 
a:hover{
  color: white;
  opacity: 1;
  
}
.about-me-list a{
  color: black;
  font-weight: 900;
}
.item-subtitle{
  color: aliceblue;
  padding: 0.5rem;
}
.item-description{
  color: antiquewhite;
  font-weight: 500;
}
.image{
  width: 100%;
  border-radius: 8px;
}


@media screen and (max-width: 780px) {
  body {
    background-color: lightgreen;
  }

  #work{
    display: flex;
    flex-direction:column;
  }

  #contact{
    flex-direction: column;
    align-items: center;
   
  }
  #contact ul {
    flex-direction: column;
  }
  .section-name{
    border-right: none;
    border-bottom:solid black 5px;
  }
  .header{
    flex-direction: column;
    align-items: center;
  }
  .nav-ul{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profile-picture{
    position:static;
  }
}